COMPOSE_PROJECT_NAME=wireglass-infra

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

INFLUXDB_PORT=8086
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminadmin
INFLUXDB_ADMIN_TOKEN=wireglass-dev-token
INFLUXDB_ORG=wireglass
INFLUXDB_BUCKET=jmeter

JAEGER_UI_PORT=16686
JAEGER_GRPC_PORT=14250
JAEGER_HTTP_THRIFT_PORT=14268
JAEGER_OTLP_GRPC_PORT=4317
JAEGER_OTLP_HTTP_PORT=4318

OPENSEARCH_PORT=9200
OPENSEARCH_DASHBOARDS_PORT=5601
